:root {
    --link-bg-color: #1E2029;
    --link-size: 80px;
    --link-shadow-blur: 25px;
    --link-selected-bg-color: #243136;

    --panell-bg-color: rgba(0, 0, 0, 0.5);
    --panell-bg-blur: 25px;
    --panell-padding: 40px;
    --panell-width: 60%;

    --searchfield-bg-color: rgba(0, 0, 0, 0.2);
    --searchfield-bg-blur: 25px;
    --searchfield-border-radius: 15px;
    --searchfield-padding-left-right: 20px;
    --searchfield-padding-top-bottom: 2px;
    --searchfield-margin-bottom: 60px;
    --searchfield-shadow-blur: 25px;
    --searchfield-shadow-size: 5px;
    --searchfield-height: 30px;
    --searchfield-text-color: white;
    --searchfield-placeholder-color: #898C8F;
    
    --focus-bg-color: rgba(0, 0, 0, 0.2);
    --focus-border-color: #898C8F;
    

    --transition-duration: 0.3s;
    
    --transparent: rgba(0 0 0 1);
    
    --background-image-url: url(https://wallpapercave.com/wp/wp2003012.jpg);
    
    --border-radius: 10px;

    --swiggle-size: 15px;
}

@media (orientation: portrait) {
    :root {
        --link-gap: 45px;
    }
}
@media (orientation: landscape) {
    :root {
        --link-gap: 90px;
    }
}


* {
    font-family: 'Poppins', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: var(--background-image-url);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.favourite {
    display: flex;

    justify-content: center;
    align-items: center;

    border: solid  0 var(--transparent);
    border-radius: var(--border-radius);

    background-color: var(--link-bg-color);

    padding: 15px;
    box-sizing: border-box;

    height: var(--link-size);
    width: var(--link-size);
    
    box-shadow: 0 0 var(--link-shadow-blur) calc(var(--link-size)/10) var(--link-bg-color);

    cursor: pointer;

    transition-duration: var(--transition-duration);
    transition-timing-function: ease-out;
}

.favourite:hover, .selected {
    transition-duration: var(--transition-duration);
    transition-timing-function: ease-in;
    transform: scale(1.05);
}

.favourite img {
    width: 100%;
    height: auto;
    margin: auto;
}

.favourite:focus {
    outline: var(--focus-border-color) solid 2px;
    transition-duration: var(--transition-duration);
    transition-timing-function: ease-in;
    transform: scale(1.05);
}


#linkPanell, #searchEngines {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--link-size), 1fr));
    gap: var(--link-gap);
    justify-items: center;
    

}

#linkPanell, #searchPanell {
    background-color: var(--panell-bg-color);
    backdrop-filter: blur(var(--panell-bg-blur));
    
    
    border: solid var(--transparent) 0;
    border-radius: var(--border-radius);
    
    padding: var(--panell-padding);
    margin: var(--panell-padding);
    
    width: var(--panell-width);
}


#searchField {
    display: flex;
    flex-wrap: nowrap;

    width: 100%;
    box-sizing: border-box;

    border-radius: var(--searchfield-border-radius);
    border: solid var(--transparent) 0;


    padding: var(--searchfield-padding-top-bottom) var(--searchfield-padding-left-right);
    
    background-color: var(--searchfield-bg-color);
    backdrop-filter: blur(var(--searchfield-bg-blur));

    margin-bottom: var(--searchfield-margin-bottom);

    box-shadow: 0 0 var(--searchfield-shadow-blur) var(--searchfield-shadow-size) var(--searchfield-bg-color);
    box-sizing: border-box;
}
#searchField:focus-within {
    background-color: var(--focus-bg-color);
    outline: solid 2px var(--focus-border-color);
}

.searchPart {
    height: var(--searchfield-height);
    color: var(--searchfield-text-color);
    background-color: var(--transparent);

    border: solid var(--transparent) 0;

    padding: 0;
    margin: 0;
}

.searchPart::placeholder {
    color: var(--searchfield-placeholder-color);
}

#searchInput {
    width: 100%;
}

#searchInput:focus {
    outline: none;
    height: var(--searchfield-height);
}
#searchInput:focus::placeholder {
    opacity: 0.1;
}


#searchButton {
    padding: var(--searchfield-padding-top-bottom);
}
#searchButton:disabled {
    filter: brightness(50%);
}

.selected {
    background-color: var(--link-selected-bg-color);
}
.swiggle {
    animation: swiggle 0.3s linear;
}

#searchEngineIndicator {
    height: calc(var(--searchfield-height) - calc(var(--searchfield-padding-top-bottom) * 2));
}

@keyframes swiggle {
    0% {transform: translate(0, 0)}
    15% {transform: translate(var(--swiggle-size), 0)}
    35% {transform: translate(calc(var(--swiggle-size) * -1), 0)}
    55% {transform: translate(var(--swiggle-size), 0)}
    80% {transform: translate(calc(var(--swiggle-size) * -1), 0)}
    100% {transform: translate(0, 0)}
}
