:root {
    --link-bg-color: #1E2029;
    --link-size: 80px;
    --link-shadow-blur: 25px;
    --link-selected-bg-color: #243136;

    --panell-bg-color: rgba(0, 0, 0, 0.5);
    --panell-bg-blur: 25px;
    --panell-padding: 40px;
    --panell-width: 60%;

    --searchfield-bg-color: rgba(0, 0, 0, 0.2);
    --searchfield-bg-blur: 25px;
    --searchfield-border-radius: 15px;
    --searchfield-padding-left-right: 20px;
    --searchfield-padding-top-bottom: 2px;
    --searchfield-margin-bottom: 60px;
    --searchfield-shadow-blur: 25px;
    --searchfield-shadow-size: 5px;
    --searchfield-height: 30px;
    --searchfield-text-color: white;
    --searchfield-placeholder-color: #898C8F;
    
    --focus-bg-color: rgba(0, 0, 0, 0.2);
    --focus-border-color: #898C8F;
    
    --menus-bg-color: hsl(0, 0%, 20%);
    --menus-padding: 10px;
    --menus-border-radius: 10px;

    --settings-icon-color: white;
    --settings-icon-margin: 10px;
    --settings-rotation-duration: 1s;

    --options-submenu-gap: 5px;

    --transition-duration: 0.3s;
    
    --transparent: rgba(0 0 0 1);
    
    --background-image-url: url(https://i.redd.it/qfqs21oqiwla1.jpg);
    
    --border-radius: 10px;

    --swiggle-size: 15px;
}


@media (orientation: portrait) {
    :root {
        --link-gap: 45px;
    }
    /* #linkPanell, #searchPanell {
        
    } */
}
@media (orientation: landscape) {
    :root {
        --link-gap: 90px;
    }
}


* {
    font-family: 'Poppins', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: var(--background-image-url);
    background-size: 100%;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.favourite {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: solid  0 var(--transparent);
    border-radius: var(--border-radius);

    background-color: var(--link-bg-color);

    padding: 15px;
    box-sizing: border-box;

    height: var(--link-size);
    width: var(--link-size);
    
    box-shadow: 0 0 var(--link-shadow-blur) calc(var(--link-size)/10) var(--link-bg-color);

    cursor: pointer;

    transition-duration: var(--transition-duration);
    transition-timing-function: ease-out;
}

.favourite:hover, .selected {
    transition-duration: var(--transition-duration);
    transition-timing-function: ease-in;
    transform: scale(1.05);
}


.favourite img {
    width: 100%;
    height: auto;
    margin: auto;
}

.favourite:focus {
    outline: var(--focus-border-color) solid 2px;
    transition-duration: var(--transition-duration);
    transition-timing-function: ease-in;
    transform: scale(1.05);
}


#linkList, #searchEngines {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--link-size), 1fr));
    gap: var(--link-gap);
    justify-items: center; 
    overflow: visible;
}

#linkPanell, #searchPanell {
    background-color: var(--panell-bg-color);
    backdrop-filter: blur(var(--panell-bg-blur));
    
    
    border: solid var(--transparent) 0;
    border-radius: var(--border-radius);
    
    padding: var(--panell-padding);
    margin: var(--panell-padding);
    
    width: var(--panell-width);
    overflow: hidden;

    position: relative;
}

#searchField {
    display: flex;
    flex-wrap: nowrap;

    width: 100%;
    box-sizing: border-box;

    border-radius: var(--searchfield-border-radius);
    border: solid var(--transparent) 0;


    padding: var(--searchfield-padding-top-bottom) var(--searchfield-padding-left-right);
    
    background-color: var(--searchfield-bg-color);
    backdrop-filter: blur(var(--searchfield-bg-blur));

    margin-bottom: var(--searchfield-margin-bottom);

    box-shadow: 0 0 var(--searchfield-shadow-blur) var(--searchfield-shadow-size) var(--searchfield-bg-color);
    box-sizing: border-box;

    cursor: text;
}
#searchField:focus-within {
    background-color: var(--focus-bg-color);
    outline: solid 2px var(--focus-border-color);
}

.searchPart {
    height: var(--searchfield-height);
    color: var(--searchfield-text-color);
    background-color: var(--transparent);

    border: solid var(--transparent) 0;

    padding: 0;
    margin: 0;
}

.searchPart::placeholder {
    color: var(--searchfield-placeholder-color);
}

#searchInput {
    width: 100%;
}

#searchInput:focus {
    outline: none;
    height: var(--searchfield-height);
}
#searchInput:focus::placeholder {
    opacity: 0.1;
}


#searchButton {
    padding: var(--searchfield-padding-top-bottom);
    cursor: pointer;
}
#searchButton:disabled {
    filter: brightness(50%);
    cursor: not-allowed;
}

.selected {
    background-color: var(--link-selected-bg-color);
    cursor: not-allowed;
}
.swiggle {
    animation: swiggle 0.5s linear;
}

#searchEngineIndicator {
    height: calc(var(--searchfield-height) - calc(var(--searchfield-padding-top-bottom) * 2));
}

@keyframes swiggle {
    0% {transform: translate(0, 0)}
    15% {transform: translate(var(--swiggle-size), 0) scale(0.9, 1);}
    25% {transform: scale(1.1, 1);}
    35% {transform: translate(calc(var(--swiggle-size) * -1), 0) scale(0.9, 1);}
    45% {transform: scale(1.1, 1);}
    55% {transform: translate(var(--swiggle-size), 0) scale(0.9, 1)}
    68% {transform: scale(1.1, 1);}
    80% {transform: translate(calc(var(--swiggle-size) * -1), 0) scale(0.9, 1)}
    100% {transform: translate(0, 0) scale(1, 1)}

    /* 0% {transform: rotate(0deg);}
    15% {transform: rotate(10deg);}
    35% {transform: rotate(-10deg);}
    55% {transform: rotate(10deg);}
    80% {transform: rotate(-10deg);}
    100% {transform: rotate(0deg);} */
}

.resizer {
    cursor: row-resize;
    display: flex;
    justify-items: center;
}

.resizerLine {
    width: 90%;
    display: inline-block;
    font-weight: bolder;
    z-index: 100;
}

.resizeable {
    overflow-y: scroll;
}

img {
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}


#options {
    display: flex;
    flex-direction: column;

    position: fixed;


    bottom: 0px;
    right: max(150px, 5%);
}

#menus {
    display: none;
    flex-wrap: wrap;

    background-color: var(--menus-bg-color);
    padding: var(--menus-padding);

    border: var(--transparent) solid 0px;
    border-radius: var(--menus-border-radius);
}

.optionsSubMenu {
    display: flex;
    flex-direction: column;
    gap: var(--options-submenu-gap);

}

.optionsInput, .optionsButton {
    background-color: var(--searchfield-bg-color);
    backdrop-filter: blur(--searchfield-bg-blur);
    border: var(--transparent) solid 0;
    border-radius: 5px;

    color: var(--searchfield-placeholder-color);
    height: var(--searchfield-height);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}

#settingsIcon {
    color: var(--settings-icon-color);
    display: inline-block;
    margin: var(--settings-icon-margin);
    margin-left: auto;
    cursor: pointer;

    transition: var(--settings-rotation-duration) ease-in-out;


}
#settingsIcon:active {
    transform: rotate(270deg);

    transition: var(--settings-rotation-duration) ease-in-out;
}

#linkCreationButton {
    cursor: pointer;
}
#linkCreationButton:disabled {
    cursor: not-allowed;
}


#contextmenu {
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;

    background-color: var(--menus-bg-color);
    padding: var(--menus-padding);
    position: absolute;
}

.contextmenuEntry {
    color: var(--searchfield-placeholder-color);
    cursor: pointer;
}
.contextmenuEntry:active {
    cursor: grabbing;
}
